<div *ngIf="userLogin != null">
    <div class="col-sm-3">
        <img class="img-circle" src="{{userData.avatar_url}}" />
        <p *ngIf="userData.name">
            <i class="glyphicon glyphicon-user"></i> {{userData.name}}
        </p>
        <p *ngIf="userData.company">
            <i class="glyphicon glyphicon-briefcase"></i> {{userData.company}}
        </p>
        <p *ngIf="userData.location">
            <i class="glyphicon glyphicon-globe"></i> {{userData.location}}
        </p>
    </div>
    <div class="col-sm-9">
        <button class="btn btn-primary" (click)="getFollowers()">Load Followers</button>
        <router-outlet></router-outlet>
    </div>
</div>